<section xmlns:sec="http://www.w3.org/1999/xhtml">
  <div sec:authorize="!isAuthenticated()">
    Please log in to add new products!
  </div>
  <form sec:authorize="isAuthenticated()" action="/products/add" method="POST">
    <div class="form-check">
      <label for="name">Name</label>
      <input type="text"
             class="form-control"
             id="name"
             name="name"
             th:value="(${product}!=null ? ${product.get().name}:'')"
             required
             placeholder="Enter product name">
    </div>
    <br>
    <div class="form-check">
      <label for="description">Description</label>
      <input type="text"
             class="form-control"
             name="description"
             th:value="(${product}!=null ? ${product.get().description}:'')"
             id="description"
             placeholder="Enter product description">
    </div>
    <br>
    <div class="form-check">
      <label for="quantity">Quantity</label>
      <input type="number"
             min="1"
             step="any"
             name="quantity"
             class="form-control"
             th:value="(${product}!=null ? ${product.get().quantity}:0)"
             id="quantity"
             placeholder="Enter product quantity"/>
    </div>
    <br>
    <div class="form-check">
      <label for="price">Price</label>
      <input type="number"
             min="1"
             step="any"
             name="price"
             class="form-control"
             th:value="(${product}!=null ? ${product.get().price}:0)"
             id="price"
             placeholder="Enter product price"/>
    </div>
    <div class="form-check">
      <label for="photo">Price</label>
      <input type="text"
             name="photo"
             class="form-control"
             th:value="(${product}!=null ? ${product.get().photo}:'')"
             id="photo"/>
    </div>
    <br>
    <div class="form-check">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>
</section>
</html>