<section>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
                <th scope="col">Category</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product,iter : ${products}">
                <th>
                    <img th:src="${product.getPhoto()}" style="width: 100px;height: 100px; object-fit: contain" th:data-uri="${product.getPhoto()}"  alt="Test"/>
                </th>
                <th scope="row" th:text="${product.getName()}"></th>
                <th scope="row" th:text="${product.getPrice()}"></th>
                <th scope="row" th:text="${product.getQuantity()}"></th>
                <td>
                    <span th:each="category : ${product.getCategories()}">
                        <span th:text="${category.getName()}">
                        </span>
                    </span>
                    <span th:unless="${not #lists.isEmpty(product.getCategories())}" th:text="None">
                    </span>
                </td>
                <td>
                    <a th:href="@{'/products/edit/{id}' (id=${product.getId()})}"
                       class="btn btn-sm btn-info edit-product">
                        <i class="fa fa-trash">Edit</i>
                    </a>
                    <form th:action="@{'/products/delete/{id}' (id=${product.getId()})}"
                          th:method="POST">
                        <button type="submit"
                                class="btn btn-sm btn-danger delete-product">
                            <i class="fa fa-trash">Delete</i>
                        </button>
                    </form>
                    <form th:action="@{'/products/addToCart/{id}' (id=${product.getId()})}"
                          th:method="POST">
                        <button type="submit"
                                class="btn btn-sm btn-primary">
                            <i class="fa fa-trash">Add to cart</i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>