<header xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Trappelion</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/products/Rap">Link to Rap Product</a></li>
                <li><a href="/products/Jazz">Link to Jazz Product</a></li>
                <li><a href="/products/House">Link to House Product</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="!isAuthenticated()" ><a href="/register"> Sign Up</a></li>
                <li sec:authorize="!isAuthenticated()"><a href="/login"> Login</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/logout"> Log out</a></li>
                <li sec:authorize="isAuthenticated()"><a href="/products/shopping-cart"> Shopping cart</a></li>
            </ul>
        </div>
    </nav>
</header>
