<section>
    <form action="/category/create" method="post">
        <div class="form-check">
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   class="form-control"
                   name="name"
                   required
                   placeholder="Enter category name">
        </div>
        <div class="form-check">
            <label for="description">Description</label>
            <input type="text"
                   class="form-control"
                   id="description"
                   name="description"
                   required
                   placeholder="Enter category description">
        </div>
        <br>
        <div class="form-check">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</section>